.pokeCardContainer{
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.button_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}